.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  gap: 1rem;
}

.wrapper .title {
  text-align: center;
  font-size: 1;
  width: 70%;
  padding: 0;
  margin: 0;
  margin-top: 100px;
}

.wrapper form {
  width: 70%;
  background: #fff;
  padding: 1.4rem 1.4rem;
}

/* .wrapper form input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
} */
