.wrapper {
  width: 100%;
  background: transparent;
  position: sticky;
}

.wrapper .search {
  width: 100%;
  background: #fff;
  padding: 0.2rem;
  border: 0.05rem solid gray;
}

.wrapper .search input {
  background: transparent;
  padding: 0.4rem;
  border: none;
  width: 95%;
}

.wrapper .search input:hover {
  outline: 0.1rem solid gray;
}
